
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-top: 2vw;
    height:90px;
    /* border:1px solid black */
}

.stickylogo>img{
    border: 3px solid #4d4d4d;
    border-radius: 50%;
}

.stickyNavItem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    text-decoration: underline;
}

.logoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.2vw;
  }
  
  #upperText {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    color: #4d4d4d;
    font-family: "Bebas Neue";
    line-height: 2vw;
    margin-top: -0.9vw;
  }
  
  #lowerText {
    color: #414f6b;
    font-family: "Bebas Neue";
    font-size: 1.9vw;
    line-height: 0.6vw;
    letter-spacing: 0.01vw;
  }
  

.stickyNavItem>div>a{
    color: #414f6b;
    font-weight: 700;
}